.movie_img{
  height: 200px;
}

.availability_by_day{
  padding-left: 10px;
  color:green;
  border: solid 1px darkgreen;
}

.btn_final_reserve_movie{
  display: none;
  margin-left: 20px;
  color:darkgreen;
}

.popup{
  background-color: #b3d1ff;
}

.successful_reservation{
  background-color: lightblue;
  color:green;
}

.reservation_message_failed{
  background-color: #ffcccc;
}

.reservation_message_critical_error{
  background-color: black;
  color: white;
  font-size: 20px;
}

.warning_reservation{
  background-color: yellow;
}

.movie_span{
  color: #884400;
}
