.movie_img{
  height: 200px;
}

.availability_by_day{
  padding-left: 10px;
  color:green;
  border: solid 1px darkgreen;
}

.btn_final_reserve_movie{
  display: none;
  margin-left: 20px;
  color:darkgreen;
}

.popup{
  background-color: #b3d1ff;
}

.successful_reservation{
  color:green;
}
