<div class="search">
    search bar
</div>

<div class="content">
    content / movie listing
</div>

<div class="pagination">
    pagination
</div>

<div class="just_name">
    {{ content.name }}
</div>

{# <div class="another_class">
    another_class
</div>
<div class="another_class">
    AND yet another class
</div> #}