<h1>
  {{ pageTitle }}
</h1>

<div>
  <form action="" method="post">
    <input type="checkbox" name="export_movies[]" value="XML" /> XML
    <br>
    <input type="checkbox" name="export_movies[]" value="CSV" /> CSV
    <br>

    <input type="submit" value="Submit">
  </form>
  <br>
</div>
